// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overlay
 {
     position: absolute;
     background-color: rgba(0, 0, 0, 0);
     z-index: 9999;
     color: white;
     display: inline-block;
 }