// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table a
{
    display:block;
    text-decoration:none;
}

.fa-envelope:hover{color:#009999;}
.fa-linkedin:hover{color:#0077B5;}
.fa-rss-square:hover{color:#FF6600;}