<h1 style="color:#b03060"> 404 uh-oh!</h1>
<h2> Sorry, but the page you were looking for isn't available.</h2>
<h2> Here's a goat to help you.</h2>
<%= image_tag("goat.jpg",class: "img img-rounded",style: "max-width:200px;max-height:200px") %>
<h2 style="color:blue"> bahhhhhhh </h2>